---
layout: default

resources:
  - title: Presentation @ Tech Toronto
    link: https://www.youtube.com/watch?v=VumNgZYEOHM
    image: /images/resources/tech-toronto.jpg
    links:
      - title: Video
        href: https://www.youtube.com/watch?v=VumNgZYEOHM
        icon: fa-youtube-play

      - title: Slides
        href: https://speakerdeck.com/ahmadnassri/open-development-methodology
        icon: fa-bullhorn

  - title: Article @ OpenSource.com
    link: http://opensource.com/business/15/11/open-development-method
    image: /images/resources/opensource-com.png
    links:
      - title: Read
        icon: fa-eye
        href: http://opensource.com/business/15/11/open-development-method

      - title: Comment
        icon: fa-pencil
        href: http://opensource.com/business/15/11/open-development-method#comments

  - title: Full Stack Toronto 2015
    link: http://fsto.co/
    image: /images/resources/fsto.png
    links:
      - title: Attend
        icon: fa-calendar-check-o
        href: http://fsto.co/

      - title: Watch
        icon: fa-youtube-play
        href: http://fstoconf15-videos.fsto.co/

  - title: Discuss @ Github
    link: https://github.com/OpenDevelopmentMethod/discussion
    image: /images/resources/github.png
    links:
      - title: Ask a question
        icon:  fa-comment-o
        href: https://github.com/OpenDevelopmentMethod/discussion/issues/new

      - title: Read questions
        icon: fa-eye
        href: https://github.com/OpenDevelopmentMethod/discussion/issues?q=is%3Aissue
---

<div class="page home">
  <div id="about">
    <h1>Beyond Agile</h1>

    <div class="row">
      <div class="col-sm-8">

        <p>A variety of <a target="_blank" href="https://en.wikipedia.org/wiki/Software_development_process">Software Development Methodologies</a>, frameworks, and practices have evolved over the years, each with their own recognized strengths and weaknesses.</p>

        <p>Although common methodologies like <a target="_blank" href="https://en.wikipedia.org/wiki/Waterfall_model">waterfall</a>, <a target="_blank" href="https://en.wikipedia.org/wiki/Extreme_programming">extreme programming</a>, and various types of <a target="_blank" href="https://en.wikipedia.org/wiki/Agile_methodology">agile methodologies</a> may have made more sense when they were being developed (mostly in the '80s &amp; '90s), much has changed in the following years.</p>

        <p>Startups and businesses with workforces that used to be small and localized are now more globalized with employees collaborating with each other from multiple countries and time zones. In addition to a newly evolved workforce, the technologies and languages we have available to us in the workplace are going through their own evolutions, enabling businesses to operate in newer and more energetic ways. As the world continues to evolve around us, it makes sense that <span class="underline">our software development methods should evolve, too.</span></span></p>
      </div>

      <div class="col-sm-4">
        <img src="/images/common_software_development_patterns.svg"/>
      </div>
    </div>
  </div>

  <header id="video">
    <h2>Why?</h2>
  </header>

  <p>The Open Development Method is a summary of lessons learned in leading large teams around Agile, Scrum, Waterfall and other common methodologies.</p>

  <p>After witnessing those methodologies fall short when unexpected variables get introduced into the mix, especially with teams that are distributed, multi-lingual, and cross-functional (a scenario that many startups teams are experiencing today), I realized that as our global economy continues to grow, traditional notions of centralized workspaces are no longer desired.</p>

  <p>The Open Source world provides an example of a familiar, and clearly successful model, where a natural flow of conversation, discussion and contributions to online projects occur asynchronously, across disturbed physical location, with members sharing a common goal, and the ability to look beyond language, timezones, and other barriers to communicate and coordinate more efficiently.</p>

  <p>Open source in 2015 is ubiquitous. Potentially every person benefiting from modern technology is also benefiting from open source solutions in some fashion. When you consider the international pool of developers contributing to the world's most popular open source projects, you have to wonder how they've been able to succeed without the benefit of managers, meetings, and code sprints. Upon researching how open source projects have succeeded, a set of principles that could be considered the tenets of the open development method start to emerge.</p>

  <header id="tenets">
    <h2>The Tenets of the Open Development Method</h2>
  </header>

  <h3>Code Quality</h3>

  <p>As part of an open development method, code quality is king. You should be asking key questions every time you write code:</p>

  <ol>
    <li>Is this code legible?</li>
    <li>Is this code testable?</li>
    <li>Is this code modular?</li>
    <li>Is this code economical?</li>
  </ol>

  <p>Every question asked benefits not only you, but your team. When you write code in a such a way that another developer half a world away can sit down and start working on it immediately, without needing to ask any questions, you're helping improve your team's efficiency. Likewise, when you ensure your code is testable, you drastically cut down on the number of roadblocks your team may encounter. With modularity, you present code to your team that is both easily maintained and potentially recyclable for another project. And finally, economical code can save everyone from your team and future contributors, to clients and end-users—both time and money.</p>

  <h3>Documentation</h3>

  <p>Developers do not necessarily enjoy documenting their code—that is no secret. Moreover, when they are subjected to the emergency room processes of a system such as Scrum, even if they wanted to document their code, chances are they will not have the time because priorities determined by the business often take precedence. The most significant piece of documentation you will write is your high-quality code, but that is not enough. Consider those who do not know the code, and those who have neither the time nor the desire to read it all. When your team focuses on documenting your projects appropriately, you are doing for your code the same thing that the popular TV show <a target="_blank" href="http://www.sciencechannel.com/tv-shows/how-its-made/">How It's Made</a> does for its viewers by explaining away the complexities of your project and bringing it to a wider audience in an easier-to-digest fashion.</p>

  <h3>Testing</h3>

  <p>On a geographically diverse team in which you may not be able to receive help in real time, taking a test-first approach with code allows you to work with greater independence and fewer roadblocks. With testable code there are many benefits to consider. Let's take a look at <a target="_blank" href="https://www.linkedin.com/in/jtimothyking">Tim King</a>'s list of <a target="_blank" href="http://sd.jtimothyking.com/2006/07/11/twelve-benefits-of-writing-unit-tests-first/">12 benefits</a> of writing unit tests first:</p>

  <ol>
    <li>Unit tests prove that your code actually works.</li>
    <li>You get a low-level regression-test suite.</li>
    <li>You can improve the design without breaking it.</li>
    <li>It's more fun to code with them than without.</li>
    <li>They demonstrate concrete progress.</li>
    <li>Unit tests are a form of sample code.</li>
    <li>It forces you to plan before you code.</li>
    <li>It reduces the cost of bugs.</li>
    <li>It's even better than code inspections.</li>
    <li>It virtually eliminates coder's block.</li>
    <li>Unit tests make better designs.</li>
    <li>It's faster than writing code without tests.</li>
  </ol>

  <h3>Discussions</h3>

  <p>Everyone should have a say when it comes to discussing your project and direction. Never discount the marketing coordinator, the account manager, and non-coding designers. Everything is open to discussion, and when everyone is on has access to one another without needing to go through a chain of command, some of the most ingenious ideas and solutions can be discovered.</p>

  <p>Although a veteran developer may dominate discussions due to their expertise, never disregard the new developer who has different, fresh ideas. The <a target="_blank" href="http://todogroup.org/opencodeofconduct/">TODO Group Open Source Code of Conduct</a> outlines general expectations of the community of a project that we can also consider when participating in team discussions:</p>

  <ol>
    <li>Be friendly and patient.</li>
    <li>Be welcoming.</li>
    <li>Be considerate.</li>
    <li>Be respectful.</li>
    <li>Be careful in the words that we choose.</li>
    <li>Try to understand why we disagree.</li>
  </ol>

  <h3>Transparency</h3>

  <p>Engendering user trust, promoting engagement with the community, and improving the security and stability of your project are traditionally considered separate goals on a roadmap for a project's success. But when your team embraces the open development method of transparency, all three goals can be achieved simultaneously.</p>

  <p>From releasing a project's source code to making public the issue tracker and providing insights into internal processes and communications, the passion behind a project is apparent to anyone who comes in contact with it. When users and developers have access to these resources, your team will not only find many willing contributors, but greater respect and acceptance from the community. Transparency is a powerful marketing and working tool.</p>

  <h3>Asynchronicity</h3>

  <p>With startups, businesses, and open source projects distributing the workload to developers around the world, maintaining a certain level of synchronicity that a software development process like Scrum expects becomes difficult. For some groups, maintaining a daily Scrum meeting is unrealistic, and when you have five developers in five different countries, you can discount the possibility of paired programming. The software world today thrives on asynchronicity, and teams following the open development method can, too.</p>

  <p>If someone has a question, he or she may send an email or post on a developer board with the expectation that their message will not get responded to for a while. Does that questioning developer stop their work? Not necessarily. With the need to be self-reliant and adaptable, developers can modify their expectations, focus on code quality, enhance their documentation, and improve their skills.</p>

  <h3>Democracy</h3>

  <p>In addition to open discussions and sharing ideas within a project community, community members should be involved with the decision-making process. When decisions get made by closed-door board meetings, executives, or managers, it is usually with a narrow and limited point of view. When everyone is involved in the decision process, including the end-user or client, potential issues that would otherwise fail to get identified have a greater chance of being resolved before they become problems.</p>

  <header id="tenets">
    <h2>An Open Initiative</h2>
  </header>

  <p>Rather than allow one person or a small number of people to develop this methodology, The process should be as open and inclusive as any other open source project.</p>

  <p>There may be several missed priorities or points that need to be smoothed out, so please join the <a href="https://github.com/OpenDevelopmentMethod/discussion">discussion on GitHub</a>, and lets work together on creating a beautiful set of guidelines that will enable all development teams of all sizes to succeed.</p>

  <header id="resources">
    <h2>Resources</h2>
  </header>

  <div class="row">
    {% for resource in page.resources %}
      <div class="col-sm-6">
        <div class="media">
          <div class="media-left">
            <a href="{{ resource.link }}">
              <img class="media-object thumbnail" src="{{ resource.image }}"/>
            </a>
          </div>

          <div class="media-body">
            <h4 class="media-heading">{{ resource.title }}</h4>
            {% for link in resource.links %}
              <p><a href="{{ link.href }}"><span class="fa fa-fw {{ link.icon }}"></span> {{ link.title }}</a></p>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
